h1 {
  color: red;
  font-size: 50px;
} 

img {
    width: 250px;
    height: 250px;
    mix-blend-mode: multiply;
}

 .OrangeTextHTML {
    color: rgb(227, 76, 38);  
}

.BlueTextCSS {
    color: rgb(38, 77, 228);
}

body {
    background-color: rgba(173, 216, 230, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

Python Logo {
    float: left;
}

Biology Image {
    float: left;
}

Football Image {
    float: left;
}

.squarebox1 {
    background-color: rgb(137, 207, 240);
    padding: 20px;
    margin-bottom: 20px;

    
}

.squarebox2 {
    background-color: rgb(137, 207, 240);
    padding: 20px;
    margin-bottom: 20px;

    
}


.squarebox3 {
    background-color: rgb(137, 207, 240);
    padding: 20px;
    margin-bottom: 20px;
    
}